{% load bootstrap4 %}
{% load static %} 
 {% block styles %} 
 {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'styles.css' %}" />
{%endblock%}
{%block content%}
{%include 'navbar.html'%}

<div class="neighbourhood">
    <ul>
        <li class="dropdown"  style="list-style-type: none;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret" style="color: burlywood;">CHOOSE YOUR NEIGHBOURHOOD</span></a>
            <ul class="dropdown-menu" style="text-align: center; left: 30px; color: burlywood;" role="menu">
                <li>
                  <a href="{%url 'lanet'%}">LANET</a>
                </li>
            <hr>
            <li>
              <a href="{%url 'milimani'%}">MILIMANI</a>
            </li>
            <hr>
            <li>
              <a href="{%url 'kiamunyi'%}">KIAMUNYI</a>
            </li>
          </ul>
        </li>
    </ul>
</div>
{%endblock%}
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"
></script>

