<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" style="color: white;" href="{%url 'index' %}"><h3><strong>NEIGHBOURHOOD WATCH</strong></h3></a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

         <ul class="navbar-nav mr-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'lanet'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="bus">Business</span></a>
            <ul class="dropdown-menu" id="bus-menu" style="text-align: center; font-size: 15px; color: burlywood;" role="menu">
                <li>
                  <a href="{%url 'lanetB'%}">View Businesses</a>
                </li>
                <hr>
                <li>
                    <a href="{%url 'business_form'%}">Submit Your Business</a>
                  </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features" data-offset="90">Authorities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services" data-offset="90">Health Services</a>
          </li>
        </ul>
       </div>

</nav>