<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" style="color: white;" href="{%url 'index' %}"><h3><strong>NEIGHBOURHOOD WATCH</strong></h3></a>
 
       
        <ul class="navbar-nav mr-auto smooth-scroll" style="display: flex; justify-content: space-between;">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'lanet'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="bus">Business</span></a>
            <ul class="dropdown-menu" id="bus-menu" style="text-align: center; font-size: 15px; color: burlywood;" role="menu">
                <li>
                  <a href="{%url 'Lbusiness'%}">View Businesses</a>
                </li>
                <hr>
                <li>
                    <a href="{%url 'business_form'%}">Submit Your Business</a>
                  </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Lauth'%}" data-offset="90">Authorities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Lhealth'%}" data-offset="90">Health Services</a>
          </li>
        </ul>

        <div class="login">
            {%if user.is_authenticated%}
            <div class="user" style="position: relative; right: 170px; top: 20px;">
            <a href="{%url 'profile'%}"><p style="color: white;"><span style="color:burlywood; font-size: 30px">Hello, {{user}}</span></a>
            </p>
        
            </div>
            <p>
              <h4><a href="{%url 'logout'%}" style="position: relative;color: white; bottom: 30px;">Logout</a></h4>
            </p>
            {%else%}
            <a href="{%url 'register'%}" style="position: relative; left: 500px">Register</a>
            <a href="{%url 'login'%}" style="position: relative; left: 660px">Login</a>
            {%endif%}
          </div>
      

</nav>