nav{
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.neighbourhood{
    text-align: center;
    position: relative;
    top: 250px;
}
.caret{
    font-size: 60px;
    
}


.dropdown {
    position: relative;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: burlywood;
    min-width: 200px;
    box-shadow: 0px 8px 110px 0px rgba(0,0,0,0.2);
    padding: 14px 16px;
    z-index: 1;
    font-size: 20px;
  }
body{
      background-image: url('./Images/brown-design-wallpapers.jpg');
      background-size: cover;
      opacity: 0.9;
  }
  a{
      color: black;
  }
  a:hover{
      text-decoration: none;
  }

.card{
    width: 20rem;
    margin-top:10px; 
    border-radius: 50px; 
    background-color: burlywood;
    
}
.nav-link{
    color: white;
}
.bus{
    color: white;
}
.navbar-nav{
    position:relative;
}